<!--
  Modal de detalhes do Pokémon
  Exibe sprites, flavor text, stats, tipos, peso, altura, XP, linha evolutiva e curiosidades.
  Acessível e responsivo.
-->
<div *ngIf="pokemon" class="modal-overlay" tabindex="-1" aria-modal="true" role="dialog">
  <div class="modal-content" tabindex="0">
    <button class="close-btn" (click)="fecharModal()" aria-label="Fechar">&times;</button>
    <div class="modal-header">
      <h2>{{ pokemon.name | titlecase }}</h2>
      <div class="modal-types">
        <span *ngFor="let tipo of pokemon.types" class="type-badge type-{{ tipo.type.name }}">
          {{ tipo.type.name | titlecase }}
        </span>
      </div>
    </div>
    <div class="modal-body">
      <div class="sprites">
        <img [src]="getSpriteUrl()" alt="Sprite normal" />
        <img [src]="getShinyUrl()" alt="Sprite shiny" />
      </div>
      <div class="stats">
        <div *ngFor="let stat of pokemon.stats">
          <span class="stat-name">{{ stat.stat.name | titlecase }}</span>
          <span class="stat-value">{{ stat.base_stat }}</span>
        </div>
      </div>
      <div class="info">
        <div><strong>Peso:</strong> {{ pokemon.weight }} kg</div>
        <div><strong>Altura:</strong> {{ pokemon.height }} m</div>
        <div><strong>XP Base:</strong> {{ pokemon.base_experience }}</div>
      </div>
      <div class="flavor-text" *ngIf="flavorText">
        <em>{{ flavorText }}</em>
      </div>
      <div class="evolution-chain" *ngIf="evolutionChain">
        <strong>Linha evolutiva:</strong>
        <div class="evolution-list">
          <ng-container *ngFor="let evo of getEvolutionSpeciesList()">
            <button class="evolution-btn" (click)="selecionarEvolucao(evo.name)" [attr.aria-label]="'Ver detalhes de ' + evo.name">
              <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + getIdFromSpeciesUrl(evo.url) + '.png'" [alt]="evo.name" />
              <span>{{ evo.name | titlecase }}</span>
            </button>
            <span *ngIf="evo !== getEvolutionSpeciesList()[getEvolutionSpeciesList().length-1]">→</span>
          </ng-container>
        </div>
      </div>
      <div class="curiosidade" *ngIf="pokemon">
        <strong>Curiosidade:</strong>
        <span>{{ getCuriosidadeAleatoria() }}</span>
      </div>
      <div class="easter-egg" *ngIf="easterEgg">
        <strong>Easter Egg:</strong> Você encontrou o lendário MissingNo!<br>
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/0.png" alt="MissingNo" style="width:64px;height:64px;" />
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="anteriorPokemon()" aria-label="Anterior">&#8592; Anterior</button>
      <button (click)="proximoPokemon()" aria-label="Próximo">Próximo &#8594;</button>
    </div>
  </div>
</div>
