<ion-card class="info-card">
  <ion-card-header>
    <ion-card-title>{{ pokemon.name | titlecase }} <span class="pokemon-number">#{{ pokemon.id }}</span></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="info-grid">
      <div class="info-item">
        <span class="label">Altura</span>
        <span class="value">{{ pokemon.height / 10 }} m</span>
      </div>
      <div class="info-item">
        <span class="label">Peso</span>
        <span class="value">{{ pokemon.weight / 10 }} kg</span>
      </div>
      <div class="info-item">
        <span class="label">Experiência</span>
        <span class="value">{{ pokemon.base_experience }}</span>
      </div>
      <div class="info-item">
        <span class="label">Ordem</span>
        <span class="value">{{ pokemon.order }}</span>
      </div>
    </div>
  </ion-card-content>
</ion-card> 