<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="apps"></ion-icon>
      <ion-label>{{ 'POKEDEX' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/tabs/favorites">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>{{ 'FAVORITES' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ranking" href="/tabs/ranking">
      <ion-icon aria-hidden="true" name="trophy"></ion-icon>
      <ion-label>{{ 'RANKING' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>{{ 'SETTINGS' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
