<ion-card class="abilities-card">
  <ion-card-header>
    <ion-card-title>Habilidades</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="abilities-list">
      <ion-chip *ngFor="let ability of abilities; trackBy: trackByAbility" [color]="ability.is_hidden ? 'warning' : 'primary'" tabindex="0">
        <ion-label>
          {{ ability.ability.name | titlecase }}
          <span *ngIf="ability.is_hidden"> (Oculta)</span>
        </ion-label>
      </ion-chip>
    </div>
  </ion-card-content>
</ion-card> 